@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bunker University</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Welcome to Bunker University</h2>
    <p>Bunker University is a sample application that demonstrates how to use code-first Entity Framework.</p>
  </div>
</div>