@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bunker Auto</h1>
    <p class="lead">Great deals on car insurance are just a few clicks away.</p>
    
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Getting started</h2>
        <p>
            Answer a few questions for us about your history and we will have an instant quote
        </p>
        
    </div>
    
</div>